## LIBRARY IMPORTATION

In [1]:
# import libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import spacy
import string
from wordcloud import WordCloud

## WEB SCRAPING PROPER

In [2]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 38
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews
Scraping page 31
   ---> 3100 total reviews
Scraping page 32
   ---> 3200 total reviews
Scraping page 33
   ---> 3300 total reviews
Scraping page 34
   ---> 3400 total reviews
Scraping page 35
   ---> 3500 total reviews
Scraping page 36
   ---> 3600 total reviews
Scraping page 37
   ---> 3700 total reviews
Scraping page 38
   ---> 3795 total reviews

## CONVERT TO DATAFRAME

In [6]:
df = pd.DataFrame(reviews, columns=['Reviews'])
df

                                                Reviews
0     Not Verified |   I flew from Malaga via LHR to...
1     ✅ Trip Verified |  Milan to Miami return via L...
2     ✅ Trip Verified |  BA created a new low-cost s...
3     ✅ Trip Verified |   I flew with British Airway...
4     ✅ Trip Verified |  Manchester to Copenhagen vi...
...                                                 ...
3790  Flew LHR - VIE return operated by bmi but BA a...
3791  LHR to HAM. Purser addresses all club passenge...
3792  My son who had worked for British Airways urge...
3793  London City-New York JFK via Shannon on A318 b...
3794  SIN-LHR BA12 B747-436 First Class. Old aircraf...

[3795 rows x 1 columns]

## SAVE TO EXCEL FILE

In [7]:
df.to_csv("data/BA_reviews.csv")
print('The Data has been successfully saved to BA_reviews.csv')

The Data has been successfully saved to BA_reviews.csv